---
import FormattedDate from "../FormattedDate.astro";

const { post, as: Tag = "div", withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.publishDate;
---
<!-- 展示博客标题日期等 -->
<FormattedDate date={postDate} class="min-w-[120px] text-gray-600 dark:text-gray-400" />
<Tag>
	<a href={`/posts/${post.slug}/`} class="cactus-link" data-astro-prefetch>
		{post.data.title}
	</a>
</Tag>
{withDesc && <q class="line-clamp-3 block italic">{post.data.description}</q>}
